<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FloppaLand - minecraft сервера с модами</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo/FloppaLand_mini_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://fontlibrary.org//face/minecraftia"> 
    <link href="https://fonts.bunny.net/css?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(98503815, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98503815" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <nav class="desktop_navbar">
      <a href="{{ url_for('index') }}"><img class="desktop_navbar_logo_img" src="{{ url_for('static', filename='logo/FloppaLand_mini_logo.png') }}" alt="logo"></a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" class="desktop_navbar_link">Вход</a>
      {% else %}
      <a href="{{ url_for('profile') }}" class="desktop_navbar_link">Профиль</a>
      {% endif %}
      <a href="https://discord.com/invite/uHJxq9Yzgw" class="desktop_navbar_link">Discord</a>
      <a href="{{ url_for('archive') }}" class="desktop_navbar_link">Архив</a>
      
      <div class="desktop_navbar_right">
          {% if current_user.is_anonymous %}
            <div class="desktop_navbar_link2_div">
              <a href="{{ url_for('login') }}" class="desktop_navbar_link2">Войти</a>
            </div>
          {% else %}
          <div class="desktop_navbar_profile_main">
            <div  class="desktop_navbar_profile_text_div">
                <a href="{{ url_for('profile') }}" class="desktop_navbar_profile_name">{{ current_user.username }}</a>
                <a href="{{ url_for('logout') }}" class="desktop_navbar_profile_logout">Выйти</a>
            </div>
            <img src= "{{ url_for('head', username=current_user.username) }}" alt="profile img" class="profile_img" style="height: 50px; image-rendering: pixelated; border-radius: 15%">
          </div>
          {% endif %}
      </div>
    </nav>
    <div class="mobile_navbar">
      <a href="{{ url_for('index') }}" class="mobile_navbar_logo_img_a"><img class="mobile_navbar_logo_img" src="{{ url_for('static', filename='logo/FloppaLand_mini_logo.png') }}" alt="logo"></a>
      <div id="mobile_navbar_links">
          {% if current_user.is_anonymous %}
            <a class="mobile_navbar_link" onclick="mobile_navbar_link_hider()" href="{{ url_for('login') }}">Войти</a>
          {% else %}
            <a class="mobile_navbar_link" onclick="mobile_navbar_link_hider()" href="{{ url_for('profile') }}"><img src= "{{ url_for('head', username=current_user.username) }}" class="profile_img" style="height: 15px; image-rendering: pixelated; border-radius: 10%"> {{ current_user.username }}</a>
            <a class="mobile_navbar_link" onclick="mobile_navbar_link_hider()" href="{{ url_for('logout') }}">Выйти</a>
          {% endif %}
          
          <a class="mobile_navbar_link" onclick="mobile_navbar_link_hider()" href="{{ url_for('archive') }}">Архив</a>
          <a class="mobile_navbar_link" onclick="mobile_navbar_link_hider()" href="https://discord.com/invite/uHJxq9Yzgw"><i class="fa-brands fa-discord"></i> Discord</a>
        </div>
        <div class="icon" onclick="mobile_navbar_link_hider()">
            <i class="fa fa-bars"></i>
        </div>
        <script>
            function mobile_navbar_link_hider() {
            var x = document.getElementById("mobile_navbar_links");
            if (x.style.display === "flex") {
                x.style.display = "none";
            } else {
                x.style.display = "flex";
            }
            } 
        </script>
    </div>
               {% block content %}
               {% endblock %}
               <footer class="copyright_div">
                <a href="https://github.com/Zizazar" class="copyright">Проект создан Zizazr - 2023-2025 - </a>
                <a href="https://github.com/FQQD/MCServer-Web-Template" class="copyright"> Основа сайта от FQQD</a>
              </footer>
            </body>
          </html>
